* {box-sizing: border-box}

.container {
  padding: 16px;
  margin-left: 13px;
  margin-right: 15px;
  width: 420px;
  height: 400px;
}

form {
  padding: 2%;
  font-family: sans-serif;
  border: 3px solid #f1f1f1;
  width: 453px;
  height: 750px;
  margin-left: 35%;
  margin-top: 5%;
  box-sizing : border-box;
}

input[type=text], select, input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus{
  background-color: white;
  outline: none;
}

kotakForm{
  display: flex;
  justify-content: center;

}

button {
  background-color: #06878b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.jumbotron{
  background-color: #343A40 !important;
}

.jumbotron p, h3, h4{
  color: white !important;
}